# TFM - Detección temprana de TCA

# 1. Entornos Virtuales y caché 
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# 2. Modelos de Lenguaje 
results/
LLM_TCA_Risk/
checkpoint-*/

# 3. Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# 4. Datos intermedios y crudos 
# Solo permitimos la subida del Gold Standard y el Dataset Clasificado Final.
# Bloqueamos los pasos intermedios para evitar filtraciones.
*HISTORIAL_USUARIOS_TCA_DEF.csv
*usuarios_unicos.csv
*usuarios_perfiles.csv
*DATASET_FINAL_MAESTRO.csv